body, html {
  font-family: 'Open Sans', Helvetica, Arial;
  background-color: #00061c;
  color: #ffffff;
  min-width: 800px;
  height: 100%;
}

div#content-container {
  min-height: 100%;
  padding-bottom: 110px;
}


th, tr {
  text-align: center;
}

.navbar-container {
  width: 100%;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  color: #000000;
  background-color: #000000;
}

.my_button {
  background-color: #ffffff;
  color: #000000;
  margin: 15px;
  padding: 15px 50px;
}

.container-menu-left {
  float: left;
  width: 15%;
  margin-top: 15px;
}

.menu-left-item {
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  background-color: #313F40;
  color: #FFFFFF;
  margin: 15px;
  padding: 15px 20px;
}

.container-body {

}

.container-days {
  padding-top: 30px;
  padding-bottom: 25px;
}

ul {
  list-style-type: none;
}

.day-item a {
  text-align: center;
  display: inline;
  text-transform: uppercase;
  background-color: #0d004c;
  color: #ffffff;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px 50px;
  width: 15%;
}

.day-item a:hover {
  text-decoration: none;
}

.programs {
  float: left;
  width: 80%;
  margin: 25px auto 15px 15px;
  padding: 10px 0px;
}

@media (max-width: 1280px) {

  .navbar-container {
    font-size: 24px;
    width: 80%;
  }

  .menu-left-item {
    font-size: 12px;
    margin: 15px 10px;
    padding: 15px 10px;
  }

  .day-item a {
    padding: 15px;
    width: 13%;
  }

  .my_button {
    margin: 10px;
    padding: 10px 30px;
  }
}

.panel {
  background-color: #313F40;
  color: #F04670;
  height: auto;
  display: none;
  margin: 15px;
  padding: 15px 20px;
  font-family: garamond, times-new-roman, serif;
}

.panel-log {
  display: none;
  color: #FFFFFF;
  font-size: 14px;
  padding-right: 10px ;
}

label{
  font-weight: 300;
  margin-right: 15px;
  display: inline;
}

label.checkbox-label input[type=checkbox]{
  position: relative;
  vertical-align: middle;
  bottom: 1px;
}

input{
  margin-right: 10px;
  padding-right: 10px;
}


@-webkit-keyframes moves {
  from {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(1343px);
    -moz-transform: translateX(1343px);
    -ms-transform: translateX(1343px);
    -o-transform: translateX(1343px);
    transform: translateX(1343px)
  }
}

@keyframes moves {
  from {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(1343px);
    -moz-transform: translateX(1343px);
    -ms-transform: translateX(1343px);
    -o-transform: translateX(1343px);
    transform: translateX(1343px)
  }
}

.rollup {
  background: image-url('whatcher.png') no-repeat center center;
  display: block;
  height: 110px;
  position: absolute;
  top: 0;
  left: -1343px;
  right: -1343px;
  text-indent: -9999px
}

div#footer-container {
  height: 110px;
  margin-top: -110px;
  position:relative;
  overflow: hidden;
}

@media (max-width: 4000px) {
  .rollup {
    background: image-url('whatcher.png') repeat-x scroll center center;
    -webkit-animation: moves 20s linear infinite;
    -moz-animation: moves 20s linear infinite;
    -ms-animation: moves 20s linear infinite;
    -o-animation: moves 20s linear infinite;
    animation: moves 20s linear infinite
  }
}
