body {
  font-family: 'Open Sans', Helvetica, Arial;
  background-color: #000000;
  color: #ffffff;
}

th, tr {
  text-align: center;
}

.navbar-container {
  width: 100%;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  color: #000000;
  background-color: #000000;
}

.my_button {
  background-color: #ffffff;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
}

.container-menu-left {
  float: left;
  width: 15%;
  margin-top: 15px;

}

.menu-left-item {
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  background-color: #313F40;
  color: #F04670;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
}


.container-body {
  height: 600px;
}

.container-days {
  padding-top: 30px;
  padding-bottom: 25px;
}

/*.day-item {
  text-align: center;
  display: inline;
  //text-transform: uppercase;
  //background-color: #F04670;
  //color: #ffffff;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
  width: 15%;
}*/

ul{
  list-style-type:none;
}

.day-item a{
  text-align: center;
  display: inline;
  text-transform: uppercase;
  background-color: #F04670;
  color: #ffffff;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
  width: 15%;

}

.day-item a:hover{
  text-decoration: none;
}

.programs {
  float: left;
  width: 80%;
  margin: 25px auto 15px 15px;
  padding: 10px 0px 10px 0px;
}