<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Whatcher</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container navbar-container">
  <ul class="nav navbar-nav ">
    <li><p class="my_button">Whatcher</p></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><p class="my_button">Sign Up</p></li>
    <li><p class="my_button pull-me-login">Log In</p>

    <div class="panel-log panel-login">
      <form class="form-signin" role="form">
        <h4 class="form-signin-heading">Please sign in</h4>
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required="">

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
    </li>

    <p class="slide"/>
  </ul>
</div>
